/* _content/CompanyApp.Component.StrategicPlan/Component1.razor.rz.scp.css */
.my-component[b-c8o6xjxtkz] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
