/* _content/CompanyApp.Component.ExportImport/Component1.razor.rz.scp.css */
.my-component[b-t7qgqa4p79] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
